* {
  font-family: sans-serif;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

}

.rounded_transparent {
  background: #8080807a;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  border: none;
}